<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Inventory App</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="index-container">
        <h1>Inventory Application</h1>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        <!-- Static files in Express must go inside the directory specified in your static middleware. This is commonly ./public/. Each file inside this folder will be accessible from the root URL, so this will work -->
        <img src="images/unsplash.jpg" alt="movie theater"/>
    </div>
</body>
</html>